* {
 box-sizing: border-box;
}

body {
  background-color: rgb(29, 29, 29);
  margin-bottom: 50px;
}

.App {
  text-align: center;
  min-height: 100vh;
  /* min-width: 1500px; */
  width: 42%;
  margin: 0 auto;
  
}

.header {
  height: 100px;
 
}

.head-icon {
  color: rgb(62, 62, 255);
  width: 50px;
  margin-right: 25px;
}

h1 {
  font-size: 3.5rem;
  font-weight: bold;
  /* width: 300px; */
}

h3 {
  color: rgb(62, 62, 255);
  font-size: 2.3rem;
  margin-left: 82px;
  margin-top: 20px;
  font-weight: bold;
}

.title {
  position: flex;
  justify-content: center;
  color: white;
  /* margin-left: 10px; */
 
  margin: 0 auto;
}








@media screen and (max-width: 400px) {
  /* CSS rules for screens between 769px and 1200px go here */
  
    .App {
      text-align: center;
      min-height: 100vh;
      /* min-width: none; */
      width: 100%;
      margin: 0 auto;
    }

    .header {
      height: 100px;
     
     
 
    }
    
    .title {
      position: flex;
      justify-content: start;
     width: 80%;
      padding: 0;
      margin: 0 auto;
     
    }

    .head-icon {
      color: rgb(62, 62, 255);
      width: 40px;
      margin-right: 20px;
    }
   
    h1 {
      font-size: 3rem;
      color: white;
      font-weight: bold;
    }
    
    h3 {
      color: rgb(62, 62, 255);
      font-size: 2rem;
      margin-left: 82px;
      margin-top: 20px;
      font-weight: bold;
    }
    






    
    
    
    
    
    

}

